* {
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
}


*,
::before,
::after {
    box-sizing: inherit;
}

.big-container {
    padding-top:1rem ;
    width: 90%;
    margin: auto;
}

header {
    height: 5vh;
    display: flex;
    font-family: sans-serif;
    text-transform: capitalize;
}

header div {
    flex: 1;
    display: flex;
}

.title {
    padding-left: 0.7em;
    justify-content: flex-start;
    align-items: center;
    font-size:0.5em;
}

.title  h1 span {
    color:#7f888f;
}

header i {
    display: inline-block;
    margin: 1em;
}

.icons {
    justify-content: flex-end;
    align-items: center;
}
.html {

    text-transform: uppercase;
}

article {
    font-family: var(--font);
    color: #7f888f;
}

button {
    text-transform: uppercase;
    border: none;
    padding: 1em 10em;
}

.border-orange {
    border: 1px solid #f56a6a;
    background: white;
    color: #f56a6a;
}

.border-orange:hover {
    background: #f56a6a;
    color: white;
}

.main-section {
    border-top: 3px solid  #f56a6a;
    border-bottom: 1px solid #7f888f;
    padding: 2em 0;
    display: flex;

}

.main-section img {
    padding: 0 1em;
    flex: 1;
    order: 2;
}

.main-section article {
    flex: 2;
    order: 1;
}

 *[class*="-section"] {
   font-family: 'Roboto', sans-serif;
 }

section[class*="article-"] {
    padding: 0.3em;
}

article .article-header h1 {
    width: 70%;
    font-size: 2rem;
    margin-bottom: 0.8em;
    color: black;
    text-transform: capitalize;
}

article .article-header h2 {
  font-weight: lighter;
  text-transform: uppercase;
}


article .article-header h2 {
    font-size: 1rem;
    color: #7f888f;
}

article .article-body {
    margin-top: 2.5em;
}

article .article-footer button {
    margin-top: 2em;
}

.sections {
    display: grid;
    grid-template: 50% 50%/50% 50%;
    margin-bottom: 3em;
}

.sections > div {
  padding: 2em;
  display: flex;
}

.sections div div{
    flex: 2;
}

.sections div  i {
  flex:1;
}

.title-section {
  height: 15vh;
}

.title-section h1 {
  padding: 1em 0;
  text-transform: capitalize;
  font-size: 1.2em;
  display: inline-block;
  border-bottom: 4px solid #f56a6a;
}

.grid-item i {
  font-size: 3rem;
  color: #f56a6a;
}

.grid-item div h2 {
  font-size: 0.8em;
}

.grid-item div p {
  color: #7f888f;
  margin-top: 0.3em;
  font-size: 0.6em;
}
